.close {
  color: #8b0000;
}

.alert-window {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.3);
}

.use-keyboard {
  width: fit-content;
  margin: 0 auto;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers that do not support vh unit */
  min-height: 100vh; 

  display: flex;
  align-items: center;
}