<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Cognnect">
    <meta name="author" content="Cognnect">
    <meta name="keywords" 
       content="cognnect">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">

</head>
<body>
    {% block body %}
    
    {% endblock body %}
</body>
</html>