<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Cognnect">
    <meta name="author" content="Cognnect">
    <meta name="keywords" 
       content="cognnect">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
    {% block body %}

        {% block nav %}
            {% include "nav.html" %}
        {% endblock nav %}

        {% block content %}

        {% endblock content %}
    
    {% endblock body %}
</body>
</html>