{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/chatsearch.css') }}">
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block body %}

    {% block nav %}
        {% include "nav.html" %}
    {% endblock nav %}

    {% include "flashes.html" %}

    <div class="row justify-content-center">
        <div class="col-md-8">

            {% block content %}
            <div class="content-section">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Connect with Your Doctor</legend>
                        <div class="form-group">
                            {{ form.query.label(class="form-control-label") }}
                            {% if form.query.errors %}
                                {{ form.query(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.query.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.query(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
            <div class="border-top pt-3">
                <small id="need-help" class="text-muted font-weight-bold link-like">Need help?</small><br>
                <small id="help-text" class="text-muted d-none">
                        Your doctor should have given you his/her username. Input that here to connect with your doctor.
                </small>
            </div>
            {% endblock content %}

        </div>
    </div>


<script>
$('#need-help').click(() => {
    $('#help-text').toggleClass('d-none');
})
</script>
{% endblock body %}