<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Cognnect</a>
      </div>
        <a href="{{ url_for('index') }}">Home</a>
        {% if is_logged %}
            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('signup') }}">Register</a>
        {% endif %}
    </div>
</nav>
