<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='assets/logo/258x80.png') }}" class="nav-logo">
        </a> <!--About and Instructions-->
      </div>
        <a class="nav-item nav-link" href="{{ url_for('tilt') }}"></a>
        {% if session.is_logged %}
            <a class="nav-item nav-link" href="{{ url_for('tilt') }}">Tilt Test</a>
            <a class="nav-item nav-link" href="{{ url_for('stroop') }}">Stroop Test</a>
            <a class="nav-item nav-link" href="{{ url_for('myaccount') }}">My Account</a>
            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a> <!--{{ nav-active if request.path == '/logout' }}-->
        {% else %}
            <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('signup') }}">Register</a>
        {% endif %}
    </div>
</nav>