{% extends "base.html" %}

{% block title %}Cognnect - Tilt Test{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/tilt.css') }}">
<script src="{{ url_for('static', filename='scripts/tilt/cam.js') }}" defer></script>
{% endblock %}

{% block content %}
{% if session.is_logged %}
    <div style="position: relative" class="margin">
        <video id="inputVideo" autoplay muted></video>
        <canvas id="overlay">
    </div>
    <div class="ui">
        <div class="abs-angle" id="angle"></div>
    </div>
{% else %}
    <div class="login-error">
        You need to be logged in to take the Tilt Test. You can log in <a class="ml-2" href="{{ url_for('login') }}">here</a>.
    </div>
{% endif %}
{% endblock content %}

<!--remove sidebar-->
{% block sidebar %}{% endblock %}