<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Cognnect">
    <meta name="author" content="Cognnect">
    <meta name="keywords"
       content="cognnect">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="/static/assets/logo/Cognnect-Logo-Favicon.png">

    {% block link %}{% endblock %}

</head>
<main role="main" class="container">
    <body>
    {% block body %}

      <div class="row">
        <div class="col-md-8">
            {% block content %}

            {% endblock content %}
        </div>

        {% block sidebar %}
        {% endblock sidebar %}

    {% endblock %}
    </body>
</html>
